@import "./color.scss";

#root {
  height:100%;
  width:100%;
  background-color: antiquewhite;
  overflow-y: auto;
  font-family:'Courier New', Courier, monospace;
  .todos{
    margin: 100px auto;
    &-title{
      font-size: 100px;
    }
    .clear-button{
      border:1px solid grey;
      padding: 5px 10px;
      margin-bottom:30px
    }
    .space{
      margin:50px 0;
      height:50px;
      width:100%;
    }
    &-main-container{
      background-color: white;
      width:100%;
      box-shadow: 1px 0px 20px 0px #00000047;
      border-radius: 3px;
    }
  }
  

  
}
