$purple: #6561f5;
$purple-dark: #5551d1;
$purple-active: #7f7fd5;
$green-success: #25c27a;
$red: #ee4956;
$orange: #fa6400;
$blue: #0091ff;
$light_yellow: #fff1d8;
$light_beige: #f5efec;
$light_blue: #d4f7f4;
$dark_overlay: #131934;
$grey_primary: #333333;
$grey_secondary: #999999;
$grey_inactive: #cccccc;
$grey_disable: #dfe6f1;
$grey_hover: #979797;
$grey_upload: #f5f5f5;
$light_grey: #dddddd;
$x_light_grey: #efefef;
$bg_light_grey: #f8f6f6;
$gradient_green: linear-gradient(#0ac4ba, #2bda8e);