.checked {
  text-decoration: line-through;
}
.edited {
  border: none;
}
.todos {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;

  &-add-new {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 20px;
    .add-new {
      font-family: "Courier New", Courier, monospace;

      width: 90%;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
  &-item {
    padding: 0 20px;
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -1px auto;
    flex-basis: 1;
    &-edit {
      width: 10%;
      display: flex;
      justify-content: center;
    }
    textarea {
      padding-top: 20px;
      font-size: 18;
      font-family: "Courier New", Courier, monospace;
      resize: none;
      &:disabled {
        background-color: white;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  .bottom-line {
    margin: 0 auto;
    width: 100%;
    opacity: 50%;
  }
  .empty-list {
    text-align: center;
    margin: 50px 0px;
  }
}
