.checked {
  text-decoration: line-through;
}
.edited {
  border: none;
}
.todos {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;

  &-add-new {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding:0 20px;
    .add-new {
      width: 90%;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
  &-item {
    padding: 0 20px;
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -1px auto;
  }
  .bottom-line {
    margin: 0 auto;
    width: 100%;
    opacity: 50%;
  }
}
